<h3>Up/Down counter</h3>

<input type="button" value="Previous" @onclick="@Previous" />
<input type="button" value="Next" @onclick="@Next" />

@code {
    [Parameter]
    int Counter { get; set; }

    [Parameter]
    Action<int> CounterChanged { get; set; }

    void Next()
    {
        CounterChanged(++Counter);
    }

    void Previous()
    {
        CounterChanged(--Counter);
    }
}
