﻿@page "/counter"
@inject IJsAlertifyService JsAlertifyService
@inject IUriHelper UriHelper
@using Initiation.Client.Services.Js
@using Initiation.Client.Helpers

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="@IncrementCount">Click me</button>

<br />

<UpDownCounter Counter="@currentCount" CounterChanged="@CounterChangedFiredEvent" />
@*
<input type="text" @bind="@myInput" />


<input type="text" value="@myInput" @onchange="@((UIChangeEventArgs __e) => myInput = __e.Value.ToString())" />

<br />

@myInput
*@

@code {
    // string myInput = "";

    int currentCount = 0;

    async Task IncrementCount()
    {
        currentCount++;
        await JsAlertifyService.Open($"Le nombre est {currentCount}", TypeAlertify.Success);
        if (currentCount >= 10)
        {
            UriHelper.NavigateTo("/fetchdata");
        }
    }

    void CounterChangedFiredEvent(int counter)
    {
        currentCount = counter;
        StateHasChanged();
    }
}
