﻿@page "/fetchdata2"
@using Initiation.Shared
@using Initiation.Client.Services.Http
@inject IHttpWeatherService HttpWeatherService
@using System.Net
@using Newtonsoft.Json

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    WeatherForecast[] forecasts;

    protected override async Task OnInitAsync()
    {
        var response = await HttpWeatherService.GetWeatherForcasts();
        switch (response.StatusCode) 
        {
            case HttpStatusCode.OK:
                string content = await response.Content.ReadAsStringAsync();
                forecasts = JsonConvert.DeserializeObject<WeatherForecast[]>(content);
                break;
        }
        // forecasts = await Http.GetJsonAsync<WeatherForecast[]>("api/SampleData/WeatherForecasts");
    }
}
