﻿@page "/"
@inject LocalStorage Storage
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage
@using System.Globalization

<NavBarTop />
@*
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@

@if(Storage["token"] == null || Storage["username"] == null)
{
    <p>Bienvenue, l'inscription est <a href="/signup">ici</a></p>
}
else
{
    <p>Bienvenue @tinfo.ToTitleCase(Storage["username"])</p>
}

@code  {
    private static TextInfo tinfo = CultureInfo.CurrentCulture.TextInfo;
}