@page "/instruments"
@inject IUriHelper UriHelper
@inject IHttpInstrumentService HttpInstrumentService
@inject IJsAlertifyService JsAlertifyService
@using Microsoft.AspNetCore.WebUtilities
@using System.Net
@using Newtonsoft.Json
@using Initiation.Client.Services.Http
@using Initiation.Client.Services.Js
@using Initiation.Client.Helpers
@using Initiation.Shared.Helpers
@using Initiation.Shared.Dto.Output.Instrument.ForList

<NavBarTop />

<h1 class="title">La liste des instruments</h1>

<p>Cette page affiche les instruments</p>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre de cordes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Strings</td>
                </tr>
            }
        </tbody>
    </table>
    <BulmaPagination PageCount="@pagination.TotalPages" CurrentPage="@pagination.CurrentPage" OnPageChanged="@OnPageChange" />
}

@code {

    DtoOutputInstrumentForList[] items;

    PaginationHeader pagination = new PaginationHeader();
    string pageQuery { get; set; }

    protected override async Task OnInitAsync()
    {
        // Query param detection
        RefreshType();
        UriHelper.OnLocationChanged += OnLocationChanges;
        // Load datas with query on load page
        await LoadDatas(Int32.Parse(pageQuery) > 0 ? Int32.Parse(pageQuery) : 1);
        StateHasChanged();
    }

    private void OnLocationChanges(object sender, LocationChangedEventArgs e) => RefreshType();

    private void RefreshType()
    {
        var uri = new Uri(UriHelper.GetAbsoluteUri());
        pageQuery = QueryHelpers.ParseQuery(uri.Query).TryGetValue("page", out var page)? page.First() : "";
        if (pageQuery == "")
        {
            pageQuery = "1";
        }
        StateHasChanged();
    }

    private async Task OnPageChange(int page)
    {
        await LoadDatas(page);
        StateHasChanged();
    }

    private async Task LoadDatas(int page)
    {
        var response = await HttpInstrumentService.GetInstrumentsPaged(page);
        switch (response.StatusCode)
        {
            case HttpStatusCode.OK:
                string content = await response.Content.ReadAsStringAsync();
                items = JsonConvert.DeserializeObject<DtoOutputInstrumentForList[]>(content);
                var head = response.Headers.GetValues("Pagination");
                pagination = JsonConvert.DeserializeObject<PaginationHeader>(head.FirstOrDefault());
                break;
            default:
                await JsAlertifyService.Open("Erreur lors du chargement des instruments", TypeAlertify.Error);
                UriHelper.NavigateTo("/");
                break;
        }
    }

}
