@page "/login"
@inject IUriHelper UriHelper
@inject IHttpUserService HttpUserService
@inject IJsAlertifyService JsAlertifyService
@using Initiation.Client.Services.Http
@using Initiation.Client.Services.Js
@using Initiation.Shared.Dto.Input.User.ForLogin
@using System.Net
@using Initiation.Client.Helpers

<NavBarTop />

<h1 class="title is-3">Se connecter</h1>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @if (InvalidCredentialsText != "")
    {
        <ul class="validation-errors">
            <li class="validation-message">@InvalidCredentialsText</li>
        </ul>
    }

    @*<InputText id="name" @bind-Value="@model.Username" />*@


    <div class="field">
        <label class="label">Nom d'utilisateur</label>
        <div class="control has-icons-left">
            <MyInput Id="username" Type="Text" @bind-Value="@model.Username" Class="input" Autocomplete="username" />
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
        </div>
        <p class="help is-danger"><ValidationMessage For="@(() => model.Username)" /></p>
    </div>

    <div class="field">
        <label class="label">Mot de passe</label>
        <div class="control has-icons-left">
            <MyInput Id="password" Type="password" @bind-Value="@model.Password" Class="input" Autocomplete="current-password" />
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </div>
        <p class="help is-danger"><ValidationMessage For="@(() => model.Password)" /></p>
    </div>

    <div class="field">
        <p class="control">
            <button type="submit" class="button is-primary">Se connecter</button>
        </p>
    </div>
</EditForm>

@code {
    private DtoInputUserForLogin model = new DtoInputUserForLogin();

    private string InvalidCredentialsText = "";

    private async void HandleValidSubmit()
    {
        InvalidCredentialsText = "";
        var response = await HttpUserService.PostLogin(model);
        switch (response.StatusCode)
        {
            case HttpStatusCode.OK:
                await JsAlertifyService.Open("Utilisateur connect&eacute;", TypeAlertify.Success);
                UriHelper.NavigateTo("/");
                break;
            case HttpStatusCode.Unauthorized:
                InvalidCredentialsText = await response.Content.ReadAsStringAsync();
                await JsAlertifyService.Open(InvalidCredentialsText, TypeAlertify.Error);
                break;
        }
        StateHasChanged();
    }
}
