@page "/signup"
@inject LocalStorage Storage
@inject IUriHelper UriHelper
@inject IHttpUserService HttpUserService
@inject IJsAlertifyService JsAlertifyService
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage
@using Initiation.Shared.Dto.Input.User.ForRegister
@using Initiation.Shared.Dto.Input.User.ForAvailable
@using Initiation.Client.Services.Http
@using Initiation.Client.Services.Js
@using System.Net
@using System.Globalization
@using Initiation.Client.Helpers

<NavBarTop />

<h1 class="title is-3">S'inscrire</h1>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @*<InputText id="name" @bind-Value="@model.Username" />*@


    <div class="field">
        <label class="label">Nom d'utilisateur</label>
        <div class="control has-icons-left has-icons-right">
            <MyInput Id="username" Type="Text" @bind-Value="@model.Username" Class="input" Autocomplete="username" />
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            @if (swAvailable)
            {
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            }
        </div>
        @if (swAvailable)
        {
            <p class="help is-success">Ce nom d'utilisateur est disponible</p>
        }
        <p class="help is-danger"><ValidationMessage For="@(() => model.Username)" /></p>
    </div>

    <div class="field">
        <label class="label">Mot de passe</label>
        <div class="control has-icons-left">
            <MyInput Id="password" Type="password" @bind-Value="@model.Password" Class="input" Autocomplete="current-password" />
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </div>
        <p class="help is-danger"><ValidationMessage For="@(() => model.Password)" /></p>
    </div>

    <div class="field">
        <p class="control">
            <button type="submit" class="button is-primary">S'inscrire</button>
        </p>
    </div>
</EditForm>

@code {
    private DtoInputUserForRegister model = new DtoInputUserForRegister();

    private static TextInfo tinfo = CultureInfo.CurrentCulture.TextInfo;

    private Boolean swAvailable = false;

    protected override void OnInit()
    {
        model.ValueChanged += CheckIfUsernameAvailableEvent;
        if (Storage["token"] != null || Storage["username"] != null)
            UriHelper.NavigateTo("/");
    }

    public async void CheckIfUsernameAvailableEvent(object sender, EventArgs e)
    {
        var dtoAvailable = new DtoInputUserForAvailable()
        {
            Username = model.Username
        };
        swAvailable = await HttpUserService.PostAvailable(dtoAvailable);
        StateHasChanged();
    }

    private async Task HandleValidSubmit()
    {
        var response = await HttpUserService.PostRegister(model);
        switch (response.StatusCode)
        {
            case HttpStatusCode.OK:
                await JsAlertifyService.Open($"Utilisateur &laquo; { tinfo.ToTitleCase(model.Username) } &raquo; cr&eacute;e", TypeAlertify.Success);
                UriHelper.NavigateTo("/");
                break;
            case HttpStatusCode.BadRequest:
                await JsAlertifyService.Open(await response.Content.ReadAsStringAsync(), TypeAlertify.Error);
                break;
        }
    }
}