﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.popular-news{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

.popular-news li{
    margin: 0;
    padding: 10px;
    float: left;
    width: 300px;
}

    .popular-news li .img{
        width: 100px;
        height: 60px;
        float: left;
    }

    .popular-news li .img img{
        max-width: 100%;
        float: left;
    }

    .popular-news li .title {
        margin-left: 100px;
        padding-left: 15px;
    }

    .popular-news li .title h2{
        font-size: 18px;
    }

.view-component-ajax{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 10px 0 50px 0;
}