﻿html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.valid.modified:not([type=checkbox]) {
    border-color: hsl(141, 71%, 48%);
}

.invalid {
    border-color: hsl(348, 100%, 61%);
}

.validation-message {
    color: hsl(348, 100%, 61%);
}

/* Alertify - bulma */

.alertify-notifier .ajs-message .ajs-success {
    color: #fff;
    background: hsl(171, 100%, 41%);
}

.alertify-notifier .ajs-message .ajs-error {
    color: #fff;
    background: hsl(348, 100%, 61%);
}

.alertify-notifier .ajs-message .ajs-warning {
    background: hsl(48, 100%, 67%);
    border-color: #999;
}