﻿@page "/counter"
@using JMC.BlazorServer.Front.Pages.PageCode
@inherits CounterBase

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>


<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" 
    style="color: @SetColor"
    @onclick="IncrementCount">Click me</button>
