﻿@{
    ViewData["Title"] = "Wustenmaler Home";
}

<div class="text-center">
    <h1 class="display-4">WUSTENMALER</h1>
    <p>about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   
    
    <!--View component-->
    @await Component.InvokeAsync("Bilder", new { numberToTake = 5 })

</div>
<div class="text-center">
    <p>@ViewBag.SystemeValue </p>
    <p>@ViewBag.ValParam </p>
</div>


<div class="text-center">
    <button id='open' data-toggle="modal" data-target="#showmodal" class="btn btn-primary">open modal</button>
</div>

<div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--partial component-->
            @{
                await Html.RenderPartialAsync("_popupPartial");
            }
        </div>
    </div>
</div>

